#registerForm {
    margin: 15% auto;
    width: 260px;
}

.registerButton {
    width: 260px;
}

.registerBottom {
    margin-top: 10px;
    text-align: right
}

#returnLogin {
    align-content: flex-start;
    color: blue;
    cursor: pointer;
}